---
layout: default
topNumber: 3
---
<!-- Three most recent posts -->
<div class="row marketing">
  {% for post in site.posts limit:page.topNumber %}
    <div class="col-lg-4">
      <img class="img-circle" src="../assets/images/{{ post.img }}" alt="Generic placeholder image" width="140" height="140">
      <h2>{{ post.title }}</h2>
      <p>{{ post.excerpt }}</p>
      <p><a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" role="button">View Post &raquo;</a></p>
    </div>
  {% endfor %}
</div>

<div class="row">
  <!-- Remaining posts -->
  {% if site.posts.size > page.topNumber %}
    <h1 class="page-heading">Other Posts</h1>
    <ul class="post-list">
      {% for post in site.posts offset:page.topNumber %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
