/* Global */
body {
  padding-top: 51px !important; /* for fixed Bootstrap header */
}
// Centered container
.center {
    text-align:center !important;
}
// Images
img {
    max-width: 100%;
}

/* Social */
.social {
  font-size: 1.5em;
  margin-right: 0;

  > li > a {
    display: inline-block;
  }
}
.twitter:hover {
  color: $twitter !important;
}
.instagram:hover {
  color: $instagram !important;
}
.facebook:hover {
  color: $facebook !important;
}
.pinterest:hover {
  color: $pinterest !important;
}

/* Carousel */
.carousel {
  margin-bottom: 3em;
}
// Since positioning the image, we need to help out the caption
.carousel-caption {
  z-index: 10;
}
// Declare heights because of positioning of img element
.carousel .item {
  height: 15em;
  background-color: #777;
}
.carousel-inner > .item > a > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  // transform: translateY(-50%);
}

/* Page content */
.page-content {
  padding: $spacing-unit 0;
}
.page-heading {
  font-size: 20px;
}
.posts .col-md-4 {
  margin-bottom: 1.5em;
  text-align: center;
}
.posts h2 {
  font-weight: normal;
}
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
.post-link {
  color: inherit;
}
.post-link:hover {
    color: inherit;
    text-decoration: none;

    > div > .img-circle {
      border-radius: 15%;
    }
}
.img-circle {
  transition: border-radius 0.3s ease;
}

/* Post Content */
.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;
}
// Posts should be justified.
.post-content {
  > p {
    text-align: justify;
  }
}
